<div style="background-color: #333; color: white; padding: 15px; display: flex; justify-content: space-between; align-items: center;">
  <!-- Left side: Home button -->
  <button (click)="goToHome()" style="padding: 8px 16px; background-color: transparent; color: white; border: 1px solid white; border-radius: 4px;">
    Home
  </button>

  <!-- Center: Title -->
  <div style="font-size: 28px; font-weight: bold;">Movie Recommendation App</div>

  <!-- Right side: search button -->
  <button (click)="goToSearch()" style="padding: 8px 16px; background-color: transparent; color: white; border: 1px solid white; border-radius: 4px;">
    Search Movies
  </button>
</div>




<h2>Movies List</h2>
<!-- buttons -->

<br>
<br>
<br>
<br>
<!-- movie box -->







<!-- <div style="margin: 20px 0; display: flex; gap: 20px; align-items: center;">
  <div>
    <label for="language" style="font-weight: 500;">Filter by Language:</label><br>
    <select id="language" [(ngModel)]="selectedLanguage" (change)="filterMovies()" 
      style="padding: 6px 12px; border-radius: 6px; border: 1px solid #ccc; font-size: 14px;">
      <option value="">All Languages</option>
      <option value="en">English</option>
      <option value="tel">Telugu</option>
    </select>
   </div>
  <div>
    <label for="genre" style="font-weight: 500;">Filter by Genre:</label><br>
    <select id="genre" [(ngModel)]="selectedGenre" (change)="filterMovies()" 
      style="padding: 6px 12px; border-radius: 6px; border: 1px solid #ccc; font-size: 14px;">
      <option value="">All Genres</option>
    <option value="Action">Action</option>
    <option value="Sci-Fi">Sci-Fi</option>
    <option value="Fantasy">Fantasy</option>
    <option value="Romance">Romance</option>
    <option value="Crime">Crime</option>
    <option value="Biography">Biography</option>
    </select>
  </div>
</div>  --> 

  <div class="movie-container">
    <div class="movie-card" *ngFor="let movie of movies">
      <img [src]="movie.imageUrl" alt="{{ movie.title }}" />
      
      <h3>{{ movie.title }}</h3>
      <button (click)="viewDetails(movie.id)">View Details</button>
    </div>
  </div>

