<div style="background-color: #333; color: white; padding: 15px;">
  <div style="display: flex; justify-content: space-between; align-items: center;">
    
    <!-- Home Button -->
    <button (click)="goToHome()" style="padding: 8px 16px; background-color: transparent; color: white; border: 1px solid white; border-radius: 4px;">
      Home
    </button>

    <!-- App Title -->
    <div style="font-size: 28px; font-weight: bold; color: white;">
      Movie Recommendation App
    </div>

    <!-- Empty div to balance spacing -->
    <div style="width: 75px;"></div>
</div>
</div>



<!-- buttons -->
<div>
  <button style="float: left;" (click)="goToMovies()">view Movies</button>
  <button style="float: right;" (click)="goToHome()">Back to Home</button>
</div>

<!-- movie-details -->

<h2>{{ movie?.name }} Movie details</h2>

<div style="text-align : center;">
  <img [src]="movie.image" alt="{{ movie.name }}" style="width: 200px; height: auto; border-radius: 5px;">
  <p><strong>Name:</strong> {{ movie?.name }}</p>
<p><strong>Director:</strong> {{ movie?.director }}</p>
<p><strong>Release Year:</strong> {{ movie?.year }}</p>
<p><strong>Hero:</strong> {{ movie?.hero }}</p>
<p><strong>Heroine:</strong> {{ movie?.heroine }}</p>
<p><strong>Plot:</strong> {{ movie?.plot }}</p>

</div>
